.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  top: 28px;
}

.navbar-logo {
  width: 48px;
  height: 64px;
  background-color: #00C88C;
  margin-right: 40px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.navbar-logo>img {
  position: absolute;
  top: 30px;
  margin-left: 13px;
}

.navbar-container {
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.navbar-container-rightside {
  margin-right: 30px;
}

.navbar-container-rightside>button {
  color: white;
  background: #00A870;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 44px;
  width: 234px;
  border-radius: 4px;
  margin-right: 32px;
}

.navbar-container>a {
  text-decoration: none;
  color: white;
  margin-right: 32px;

}

.navbar-container-rightside>a {
  text-decoration: none;
  color: white;
}


@media (max-width: 360px) {
  .navbar {
    width: 359px;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    top: 28px;
    margin-left: -10px;
  }

  .navbar-logo {
    width: 48px;
    height: 64px;
    background-color: #00C88C;
    margin-right: 40px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .navbar-container>a{
    display: none;
  }

  .navbar-container-rightside>a {
    display: none;
  }
}