* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter';
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 360px) {
  .App {
    width: 359px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}